aiohttp==3.8.4
aiosignal==1.3.1
apkutils==1.5.0
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
colorama==0.4.6
colorlog==6.7.0
cryptography==35.0.0
decorator==5.1.1
dnspython==2.0.0
emoji==2.5.1
filelock==3.12.2
frozenlist==1.3.3
future==0.18.3
HTMLParser==0.0.2
idna==3.4
ipwhois==1.2.0
lxml==4.9.2
multidict==6.0.4
olefile==0.46
pycparser==2.21
pyelftools==0.27
pyftype==1.2.4
Pygments==2.15.1
PySocks==1.7.1
python-dateutil==2.8.2
python-whois==0.8.0
python-whois-extended==0.7.12
pythonwhois==2.4.3
requests==2.31.0
requests-file==1.5.1
shodan==1.29.1
six==1.16.0
soupsieve==2.4.1
termcolor==2.3.0
texttable==1.6.7
tldextract==3.4.4
tqdm==4.65.0
urllib3==2.0.3
validators==0.20.0
virustotal-python==1.0.2
vt==3.1.3.7
vt-py==0.17.5
whois==0.9.27
XlsxWriter==3.1.2
yarl==1.9.2
